@*****************************************************************************
 * Display information on items including basic metadata and identified      *
 * topics organized by scheme                                                *
 * Copyright 2012 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
@(item: Item)(implicit hubContext: HubContext)

@main("Item - TopicHub") {
    <div itemscope itemtype="http://schema.org/@item.contentType.get.ctypeId" class="hero-unit">
     <h3>~ @item.contentType.get.ctypeId ~</h3>
     <h2 itemprop="name">@item.metadataValue("title")</h2>
     <p itemprop="author">@item.metadataValues("author").mkString("; ")</p>
     <p><span class="muted">@item.metadataValue("citation")</span></p>
     <p>@HubUtils.pluralize(item.transfers, "transfer") since @HubUtils.fmtDate(item.created). Most recent @HubUtils.fmtDate(item.updated)</p>
     <p>Appears in collection: <a href="@routes.Application.itemBrowse("collection", item.collection_id)">@Collection.findById(item.collection_id).get.description</a></p>
     <p>
        <a rel="tooltip" title="see article in new browser window" href="@routes.Application.itemView(item.id)" target="_blank" class="btn btn-primary btn-large">View &raquo;</a>
        <a rel="tooltip" title="download whole package to desktop" href="@routes.Application.itemFile(item.id)" class="btn btn-primary btn-large">Download &raquo;</a>
        <a rel="tooltip" title="send an email notification with link to this item" href="@routes.Application.itemTransfer(item.id, "alert")" class="btn btn-primary btn-large pull-right">Remind Me &raquo;</a>
        <a rel="tooltip" title="start a SWORD deposit of package to my repository" href="@routes.Application.itemTransfer(item.id, "package")" class="btn btn-primary btn-large pull-right">Deposit &raquo;</a>
     </p>
    </div>
    <h3>Topics Arranged by Scheme</h3>
    <ul class="nav nav-tabs">
        @item.topicsByRegularScheme.map { sc =>
          <li><a href="#@sc._1" data-toggle="tab">@sc._1</a></li>
        }
    </ul>
    <div class="tab-content">
       @item.topicsByRegularScheme.map { sc =>
         <div class="tab-pane" id="@sc._1">
         <p>@Scheme.findByName(sc._1).get.description</p>
         <ul>
          @sc._2.map { tp =>
            <li><a href="@routes.Application.topic(tp.id)">@tp.topicId</a>: @tp.name</li>
          }
         </ul>
       </div>
      }
    </div>
}