@(id: Long, items: List[Item], filter: String, description: String, page: Int, total: Long)

@pagination(page: Int) = {
     <span>
     	  <a href="@routes.Application.itemBrowse(filter, id, page - 1)">&laquo; Previous</a>
     	  Viewing @(page * 10 + 1) - @(page * 10 + items.length) of @total
        <a href="@routes.Application.itemBrowse(filter, id, page + 1)">Next &raquo;</a>
     </span>	
}

@main("Item Browse -  TopicHub") {
     <h2>Browse Items by @filter</h2>
     <h3>@description</h3>
     @pagination(page)
     <dl>
       @items.map { item =>
         <dt><a href="@routes.Application.item(item.id)">@item.metadataValue("title")</a></dt>
         <dd>@item.metadataValues("author").mkString("; ")</dd>
       }
     </dl>
     @pagination(page)
}