@*****************************************************************************
 * Login page for users                                                      *
 * Copyright 2012 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
@(form: Form[(String,String)])(implicit hubContext: HubContext, flash: Flash)
@main("Login - TopicHub") {
     <p><em>@flash.get("error").getOrElse("")</em></p>
     <h2>Login:</h2>
     @helper.form(routes.AuthN.authenticate) {
        <p>
          <input type="text" name="username" placeholder="Username" id="username" value="@form("username").value">
        </p>
        <p>
          <input type="password" name="password" id="password" placeholder="Password">
        </p>
        <p>
          <button type="submit" id="loginbutton">Login</button>
        </p>
     }
     <p>If you do not have an account, please <a href="@routes.AuthN.startregister">register</a></p>
     <p>Forgot or lost password? Ask the hub to <a href="@routes.AuthN.forgot">send</a> it.</p>
}