@(subForm: Form[Subscriber])

@import helper._

@main("New Subscriber - TopicHub") {

     <h2>Add a new subscriber</h2> 
    @form(routes.Application.createSubscriber) {
        
        @inputText(subForm("userId"))
        @inputText(subForm("password")) 
        @inputText(subForm("home"))
        @inputText(subForm("logo")) 
        @inputText(subForm("role"))  
        @inputText(subForm("contact"))  
        @inputText(subForm("swordService")) 
        @inputText(subForm("terms"))
        @inputText(subForm("backFile"))  
        
        <input type="submit" value="Create">      
    }
}