@(subForm: Form[Subscriber])

@import helper._

@main("New Subscriber - TopicHub") {

     <h2>Add a new subscriber</h2> 
    @form(routes.Application.createSubscriber) {
        
        @inputText(subForm("category"))
        @inputText(subForm("name")) 
        @inputText(subForm("visibility"))
        @inputText(subForm("keywords")) 
        @inputText(subForm("link"))
        @inputText(subForm("logo")) 
        @inputText(subForm("contact"))  
        @inputText(subForm("swordService")) 
        @inputText(subForm("terms"))
        @inputText(subForm("backFile"))  
        
        <input type="submit" value="Create">      
    }
}