@(subscriber_id: Long, targetForm: Form[Target])

@import helper._

@main("New Destination - TopicHub") {

    <h2>Add a new destination</h2> 
    @form(routes.Application.createTarget(subscriber_id)) {
        
        @inputText(targetForm("protocol"))
        @inputText(targetForm("load"))
        @inputText(targetForm("description"))
        @inputText(targetForm("userId"))
        @inputText(targetForm("password")) 
        @inputText(targetForm("targetUrl")) 
        
        <input type="submit" value="Create">      
    }
}