@*****************************************************************************
 * Page with form to create new Finder                                       *
 * Copyright 2012 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
@(schemeId: String, finderForm: Form[Finder])(implicit hubContext: HubContext)

@import helper._
@main("New Finder - TopicHub") {
     <h2>Add a new finder</h2> 
    @form(routes.Application.createFinder(schemeId)) {    
        @select(finderForm("scheme_id"), options(Scheme.mapView)) 
        @textarea(finderForm("description")) 
        @inputText(finderForm("cardinality")) 
        @inputText(finderForm("format")) 
        @inputText(finderForm("idKey")) 
        @inputText(finderForm("idLabel")) 
        @inputText(finderForm("author")) 
        
        <input type="submit" value="Create">      
    }
}