@*****************************************************************************
 * Page with form to create new Package Map                                  *
 * Copyright 2012 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
@(pkgmapForm: Form[PackageMap])(implicit hubContext: HubContext)

@import helper._
@main("Package Maps - TopicHub") {
     <h2>Add a new package map</h2> 
    @form(routes.Application.createPkgmap) {    
        @inputText(pkgmapForm("pkgmapId"))
        @inputText(pkgmapForm("description")) 
        @inputText(pkgmapForm("swordurl")) 
        
        <input type="submit" value="Create">      
    }
}