@*****************************************************************************
 * Page to list insatalled Package Map                                       *
 * Copyright 2012 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
@(pkgmaps: List[PackageMap])(implicit hubContext: HubContext)

@main("Package Maps - TopicHub") {
     <h2>Number of package maps: @pkgmaps.size</h2>
     <ul>
       @pkgmaps.map { pmap =>
         <li>@pmap.pkgmapId <a href="@routes.Application.pkgmap(pmap.id)">@pmap.description</a></li>
       }
     </ul>
     <p><a class="btn btn-primary btn-large" href="@routes.Application.newPkgmap">New Package Map</a></p>
}