@*****************************************************************************
 * Display information on a subscriber. If authenticated user is the         *
 * subscriber, show a button to go to the management page.                   *
 * Copyright 2012 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
@(sub: Subscriber)(implicit hubContext: HubContext)

@main("Subscriber - TopicHub") {

  <div class="hero-unit">
    <h3>~ Subscriber ~</h3>
  	<h3>:: @sub.category ::</h3>
    <h2>@sub.name</h2>
    @if(! sub.logo.isEmpty) {
      <img src="@sub.logo">
    }
    <p>Added @HubUtils.fmtDate(sub.created)  @HubUtils.pluralize(sub.subscriptionCount, "subscription")</p>
    <span>
      @if(! sub.link.isEmpty) {
        <a rel="tooltip" title="Visit subscriber site" href="@sub.link" class="btn btn-primary btn-large">Site &raquo;</a>
      }
      @if(!hubContext.user.isEmpty && hubContext.user.get.hasSubscriber(sub.id)) {
        <a rel="tooltip" title="manage subscriber account" href="@routes.Application.editSubscriber(sub.id)" class="btn btn-primary btn-large pull-right">Manage &raquo;</a>
      }
    </span>
  </div>
  <h3>Recent Activity</h3>
  <dl>
    @sub.recentTransfers(4).map { trans =>
      <dt><a href="@routes.Application.item(Item.findById(trans.item_id).get.id)">@Item.findById(trans.item_id).get.metadataValue("title")</a></dt>
      <dd>To: @trans.channel.get.description on @HubUtils.fmtDate(trans.created) via @trans.channel.get.protocol</dd>
    }
  </dl>
}