@(sub: Subscriber)

@main("Subscriber - TopicHub") {

  <div class="hero-unit">
     <h3>~ Subscriber ~</h3>
  	 <h3>:: @sub.category ::</h3>
     <h2>@sub.name</h2>
     @if(! sub.link.isEmpty) {
       <a href="@sub.link">site</a>
     }
     @if(! sub.logo.isEmpty) {
       <img src="@sub.logo">
     }
     <p>Added @HubUtils.fmtDate(sub.created)  @HubUtils.pluralize(sub.subscriptionCount, "subscription")</p>
  </div>
  <h3>Destinations</h3>
  <ul>
    @sub.channels.map { chan =>
      <li><a href="@routes.Application.channel(chan.id)">@chan.description</a> Type: @chan.mode Subscriptions: @chan.subscriptionCount Transfers: @chan.transfers</li>
    }
  </ul>
  <p><a class="btn btn-primary btn-large" href="@routes.Application.newChannel(sub.id)">New Destination</a></p>
}