@(value: String, subs: List[Subscriber], description: String, page: Int, total: Long)

@pagination = {
   <span>
     <a href="@routes.Application.subscriberBrowse("category", value, page - 1)">&laquo; Previous</a>
     Showing @(page * 10 + 1) - @(page * 10 + subs.length) of @total
     <a href="@routes.Application.subscriberBrowse("category", value, page + 1)">Next &raquo;</a>
   </span>	
}

@main("Subscriber Browse -  TopicHub") {
     <h2>Browse Subscribers by Category</h2>
     <h3>@description</h3>
     @pagination
     <ul>
       @subs.map { sub =>
         <li><a href="@routes.Application.subscriber(sub.id)">@sub.name</a></li>
       }
     </ul>
     @pagination
}