@()

@main("Terms -  TopicHub") {
  <h2>Terms of Use</h2>
  <p>TopicHub is a web-based service to facilitate content distribution from providers to consumers, all of whom are users of the service unaffiliated with its operators. Content providers must abide by and respect copyright and any other relevant intellectual property law. Content found to be in violation may be summarily removed. TopicHub and its adminstrators make no attempt to examine, certify, or otherwise ascertain the legal status of provided content, and thus can assume no responsibility for guaranteeing same - this is the responsibilty of content providers and consumers or indeed any user of the system.</p>

  <p>To fulfill its service mission, TopicHub collects and manages various data about users of the system. Such data will be sold to the highest bidder.</p>
}