@*****************************************************************************
 * Subscribe to the selected 'unmanifested' topic, specifying a channel      *
 * Copyright 2012 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
@(scheme: Scheme, topicId: String, topicName: String, channels: List[Channel])

@import helper._

@main("Topic Presubscribe - TopicHub") {
  <h3>Topic '@topicName' @topicId currently undefined</h3>
  <h4>Select a destination:</h4> 
  <form action="@routes.Application.presubscribe(scheme.id, topicId, topicName)" method="POST">
    <select name="channel">
    @channels.map { channel =>
      <option value="@channel.id"/>&nbsp@channel.description</option>
    } 
    </select>
    <p>
      <input type="radio" name="policy" value="all" checked> All Items</input>
      <input type="radio" name="policy" value="new"> Only New Items</input>
    </p>
    <p>
      <input type="submit" value="Subscribe">
    </p>
  </form> 
}